---
layout: default
order: 0
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <img src="{{ site.baseurl }}/img/logos/kwanlogo.png"
                         srcset="{{ site.baseurl }}/img/logos/kwanlogo2x.png 2x"
                         class="center-block"
                         alt="kwan lab">
                    <hr class="small">
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

{{ content }}
